# Exploratory Data Analysis
## df_lithium

In [9]:
#| echo: false
#| message: false
#| code-fold: true
#| code-summary: "Libraries"
#| results: 'hide'
#| warning: false

library(tidyverse)
library(ggplot2)
library(forecast)
library(astsa) 
library(xts)
library(tseries)
library(fpp2)
library(fma)
library(lubridate)
library(tidyverse)
library(TSstudio)
library(quantmod)
library(tidyquant)
library(plotly)
library(ggplot2)
library(gridExtra)
library(readxl)

In [4]:
# Read csv file
df_production <- read.csv("../../data/01-modified-data/clean_lithium-production.csv")

# Read csv file
df_demand <- read.csv("../../data/01-modified-data/clean_lithium-demand.csv")

In [13]:
df_production <- df_production %>% filter(df_production$Code == "USA")

df_production

   Entity        Code Year Lithium.production...kt
1  United States USA  1995 3500.000
2  United States USA  1996 4000.000
3  United States USA  1997 4000.000
4  United States USA  1998 1500.000
5  United States USA  1999 1500.000
6  United States USA  2000 1500.000
7  United States USA  2001 1500.000
8  United States USA  2002 1500.000
9  United States USA  2003 1500.000
10 United States USA  2004 1500.000
11 United States USA  2005 1500.000
12 United States USA  2006 1500.000
13 United States USA  2007 1500.000
14 United States USA  2008 1500.000
15 United States USA  2009 1500.000
16 United States USA  2010 1000.000
17 United States USA  2011 1000.000
18 United States USA  2012 1000.000
19 United States USA  2013  870.000
20 United States USA  2014  900.000
21 United States USA  2015  900.000
22 United States USA  2016  900.000
23 United States USA  2017  900.000
24 United States USA  2018  900.000
25 United States USA  2019  900.000
26 United States USA  2020  900.000
27 United States USA  2021  939.234
28 United States USA  2022  939.234