---
title: "Data Gathering R"
---

In [12]:
#| echo: true
#| message: false
#| code-fold: true
#| code-summary: "Libraries"
#| results: 'hide'
#| warning: false

library(tidyverse)
library(ggplot2)
library(forecast)
library(astsa) 
library(xts)
library(tseries)
library(fpp2)
library(fma)
library(lubridate)
library(tidyverse)
library(TSstudio)
library(quantmod)
library(tidyquant)
library(plotly)
library(ggplot2)
library(gridExtra)
library(readxl)
library(zoo)

## Global Lithium Production

In [2]:
df_production <- read.csv("../../data/00-raw-data/lithium-production.csv")

df_production <- df_production %>% filter(nchar(Code) == 3)

head(df_production, n = 10)

#summary(df_production)

   Entity    Code Year Lithium.production...kt
1  Argentina ARG  1995    8
2  Argentina ARG  1996    8
3  Argentina ARG  1997    8
4  Argentina ARG  1998 1130
5  Argentina ARG  1999  200
6  Argentina ARG  2000  200
7  Argentina ARG  2001  200
8  Argentina ARG  2002  946
9  Argentina ARG  2003  960
10 Argentina ARG  2004 1970

## Chinese Yuan Renminbi to U.S. Dollar Spot Exchange Rate

In [3]:
#| echo: true
#| message: false
#| code-fold: true
#| code-summary: "Libraries"
#| warning: false

# Set the start and end dates
start_date <- "2010-01-01"
end_date <- "2022-12-31"

# Define the symbol for CNY to USD exchange rate
symbol <- "DEXCHUS"

# Use getSymbols() to fetch the data
getSymbols(symbol, from = start_date, to = end_date, src = "FRED")

# Access the data as a data frame
df_exchange_rate <- as.data.frame(DEXCHUS)

df_exchange_rate <- rownames_to_column(df_exchange_rate, var = "DATE")

df_exchange_rate$DATE <- as.Date(df_exchange_rate$DATE)

# Print the first few rows of the data
head(df_exchange_rate)

summary(df_exchange_rate)

[1] "DEXCHUS"

  DATE       DEXCHUS
1 2010-01-01     NA
2 2010-01-04 6.8273
3 2010-01-05 6.8258
4 2010-01-06 6.8272
5 2010-01-07 6.8280
6 2010-01-08 6.8274

      DATE               DEXCHUS
 Min.   :2010-01-01   Min.   :6.040
 1st Qu.:2013-04-02   1st Qu.:6.309
 Median :2016-07-01   Median :6.504
 Mean   :2016-07-01   Mean   :6.548
 3rd Qu.:2019-10-01   3rd Qu.:6.805
 Max.   :2022-12-30   Max.   :7.305
                      NA's   :140

## Commodity Price

### Uranium

In [ ]:
#| echo: true
#| message: false
#| code-fold: true
#| code-summary: "Data Cleaning Code"
#| results: 'hide'
#| warning: false

df_commodity_price <- read_excel("../../data/00-raw-data/commodity_price.xlsx")

df_commodity_price <- df_commodity_price %>%
  pivot_longer(cols = -c('...1'), 
               names_to = "Month_Year",
               values_to = "Price")

df_commodity_price <- df_commodity_price %>% filter(!is.na(Price) & Price != "")

df_commodity_price$Month_Year <- as.yearmon(df_commodity_price$Month_Year, format = "%b %Y")

df_commodity_price$Month_Year <- format(df_commodity_price$Month_Year, "%m-%Y")

df_commodity_price$Month_Year <- paste("01-", df_commodity_price$Month_Year, sep = "")

df_commodity_price$Month_Year <- as.Date(df_commodity_price$Month_Year, format = "%d-%m-%Y")

names(df_commodity_price) <- c('Commodity', 'DATE', 'Price')

df_uranium_price <- df_commodity_price %>%
  filter(Commodity == "Uranium")

#df_uranium_price <- head(df_uranium_price, n = 10)

In [11]:
head(df_uranium_price,20)

   Commodity DATE       Price
1  Uranium   2012-01-01 52.31250
2  Uranium   2012-02-01 52.05556
3  Uranium   2012-03-01 51.28889
4  Uranium   2012-04-01 51.30000
5  Uranium   2012-05-01 51.88889
6  Uranium   2012-06-01 50.83333
7  Uranium   2012-07-01 50.35556
8  Uranium   2012-08-01 49.25000
9  Uranium   2012-09-01 47.72500
10 Uranium   2012-10-01 44.61111
11 Uranium   2012-11-01 41.50000
12 Uranium   2012-12-01 43.66667
13 Uranium   2013-01-01 42.75000
14 Uranium   2013-02-01 43.40625
15 Uranium   2013-03-01 42.28125
16 Uranium   2013-04-01 41.41250
17 Uranium   2013-05-01 40.60500
18 Uranium   2013-06-01 39.93750
19 Uranium   2013-07-01 38.02222
20 Uranium   2013-08-01 34.99416

### Natural Gas

In [7]:
# Set the start and end dates
start_date <- "2012-01-01"
end_date <- "2022-12-31"

# Define the symbol for Gas Price to USD exchange rate
symbol <- "GASREGCOVW"

# Use getSymbols() to fetch the data
getSymbols(symbol, from = start_date, to = end_date, src = "FRED")

# Access the data as a data frame
df_gas_price <- as.data.frame(GASREGCOVW)

df_gas_price <- rownames_to_column(df_gas_price, var = "DATE")

df_gas_price$DATE <- as.Date(df_gas_price$DATE)

# Print the first few rows of the data
head(df_gas_price, 10)

[1] "GASREGCOVW"

   DATE       GASREGCOVW
1  2012-01-02 3.254
2  2012-01-09 3.333
3  2012-01-16 3.342
4  2012-01-23 3.333
5  2012-01-30 3.386
6  2012-02-06 3.436
7  2012-02-13 3.466
8  2012-02-20 3.523
9  2012-02-27 3.641
10 2012-03-05 3.717

In [8]:
df_gas_price <- df_gas_price %>%
    mutate(Year = year(DATE)) %>%
    mutate(Month = month(DATE)) %>%
    mutate(Day = day(DATE))

df_gas_price <- df_gas_price %>%
    group_by(Year, Month) %>%
    filter(Day == min(Day)) %>%
    ungroup()

df_gas_price <- df_gas_price %>%
    select(GASREGCOVW, Year, Month, Day)

df_gas_price <- df_gas_price %>%
    mutate(DATE = paste(Year, Month, '01', sep = "-"))

df_gas_price$DATE <- as.Date(df_gas_price$DATE)

df_gas_price <- df_gas_price %>%
    select(GASREGCOVW, DATE)

head(df_gas_price, 10)

   GASREGCOVW DATE
1  3.254      2012-01-01
2  3.436      2012-02-01
3  3.717      2012-03-01
4  3.874      2012-04-01
5  3.718      2012-05-01
6  3.518      2012-06-01
7  3.291      2012-07-01
8  3.606      2012-08-01
9  3.797      2012-09-01
10 3.750      2012-10-01

### Resources Prices

In [9]:
df_uranium_price <- df_uranium_price %>% select(DATE, Price)

names(df_uranium_price) <- c('DATE', 'Uranium')

names(df_gas_price) <- c('Natural Gas', 'DATE')

df_resource_price <- merge(df_uranium_price, df_gas_price, by.x = 'DATE', by.y = 'DATE', all = TRUE)

df_resource_price <- na.omit(df_resource_price)

# head(df_resource_price, 10)

df_resource_price

    DATE       Uranium  Natural Gas
1   2012-01-01 52.31250 3.254
2   2012-02-01 52.05556 3.436
3   2012-03-01 51.28889 3.717
4   2012-04-01 51.30000 3.874
5   2012-05-01 51.88889 3.718
6   2012-06-01 50.83333 3.518
7   2012-07-01 50.35556 3.291
8   2012-08-01 49.25000 3.606
9   2012-09-01 47.72500 3.797
10  2012-10-01 44.61111 3.750
11  2012-11-01 41.50000 3.406
12  2012-12-01 43.66667 3.337
13  2013-01-01 42.75000 3.233
14  2013-02-01 43.40625 3.471
15  2013-03-01 42.28125 3.698
16  2013-04-01 41.41250 3.572
17  2013-05-01 40.60500 3.478
18  2013-06-01 39.93750 3.610
19  2013-07-01 38.02222 3.410
20  2013-08-01 34.99416 3.566
21  2013-09-01 34.45329 3.575
22  2013-10-01 34.84850 3.298
23  2013-11-01 35.59200 3.209
24  2013-12-01 34.59330 3.209
25  2014-01-01 35.21499 3.261
26  2014-02-01 35.54674 3.243
27  2014-03-01 34.70286 3.421
28  2014-04-01 32.74457 3.533
29  2014-05-01 28.53986 3.606
30  2014-06-01 28.22546 3.624
... ...        ...      ...
103 2020-07-01 32.36087 2.100
104 2020-08-01 31.37619 2.085
105 2020-09-01 29.98182 2.122
106 2020-10-01 29.63636 2.091
107 2020-11-01 29.48571 2.021
108 2020-12-01 29.77391 2.063
109 2021-01-01 29.85714 2.160
110 2021-02-01 28.66250 2.316
111 2021-03-01 28.33478 2.625
112 2021-04-01 29.75227 2.777
113 2021-05-01 30.25714 2.790
114 2021-06-01 32.14211 2.935
115 2021-07-01 32.33864 3.032
116 2021-08-01 32.14773 3.059
117 2021-09-01 45.07812 3.080
118 2021-10-01 38.47619 3.093
119 2021-11-01 31.09958 3.280
120 2021-12-01 36.12930 3.204
121 2022-01-01 36.87292 3.141
122 2022-02-01 35.83191 3.330
123 2022-03-01 45.51470 3.963
124 2022-04-01 48.70473 4.021
125 2022-05-01 40.89163 4.031
126 2022-06-01 40.33152 4.702
127 2022-07-01 38.93916 4.619
128 2022-08-01 39.80231 4.034
129 2022-09-01 40.95039 3.617
130 2022-10-01 41.30360 3.592
131 2022-11-01 40.95406 3.628
132 2022-12-01 39.17824 3.260